<div class="container col-4 text-center">
    <form method="post">
        <h4>Add New Category</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" id="name" name="name" />
        </div>
        <button class="btn btn-primary mt-4" type="submit">Create</button>
    </form>
</div>