@{
    ViewData["Title"] = "Confirm Email";

    var email = TempData["email"];
    this.TempData.Remove("email");
}

<div class="alert alert-success alert-dismissible mt-5" role="alert">
    <h5 class="text-center">To finish your registration please confirm your email by clicking the link we've send you at @email.</h5>
</div>