@model  EBuy.Web.Models.Contacts.MessageInputModel
@{
    ViewData["Title"] = "Contacts";
}

<section class="mb-4 mt-5">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <p class="text-center w-responsive mx-auto mb-5">
        Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.
    </p>
    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <form asp-area="" asp-controller="Home" asp-action="Contacts" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" class="">Your name</label>
                            <input asp-for="Name" type="text" id="name" name="name" class="form-control" value="@ViewData["Name"]">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="">Your email</label>
                            <input asp-for="Email" type="text" id="email" name="email" class="form-control" value="@ViewData["Email"]">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="">Subject</label>
                            <input asp-for="Subject" type="text" id="subject" name="subject" class="form-control">
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <label for="message">Your message</label>
                            <textarea asp-for="Content" type="text" id="content" name="content" rows="4" class="form-control md-textarea"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-danger w-50 mt-4">Send</button>
                </div>
            </form>
            <div class="status"></div>
        </div>
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li>
                    <p>Sofia, Bulgaria</p>
                </li>
                <li>
                    <p>0888 111 222</p>
                </li>
                <li>
                    <p>ebuy-support@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</section>