@{
    ViewData["Title"] = "Message received";
}

<div class="alert alert-success alert-dismissible mt-5" role="alert">
    <h5 class="text-center">Thank you for contacting us. We'll answer you shortly.</h5>
</div>