@model EBuy.Web.Models.Search.SearchViewModel
@{
    ViewData["Title"] = "Search";
}

<h3>Results for @Model.Name:</h3>
<hr />

@if (Model.Products.Count == 0)
{
    <p>Sorry, we couldn't find anything matching @Model.Name. :(</p>
}

<div class="d-flex flex-md-wrap">
    @Html.DisplayFor(x => x.Products)
</div>