a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dropdown-hover:hover > .dropdown-menu {
    display: block;
}

.dropdown-item:active {
    background-color: rgba(232, 236, 241, 1);
}

.border {
    border-radius: 5px;
}

.form-control:focus {
    box-shadow: none;
}

.btn:focus {
    box-shadow: none;
}

.quantity {
    width: 2rem;
    text-align: center;
}

@media (min-width: 768px) {
    #shoppingCart {
        width: 25rem !important;
    }
}

.nav-pills .nav-link {
    color: #000000;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #d9534f;
}

.invisible-button {
    border: none;
    background-color: #fff;
    padding: 0;
}

.invisible-button:focus {
    outline: none;
}

input[type="number"]:disabled {
    background-color: #fff;
}