@using EBuy.Services;
@inject ICategoryService CategoryService

<div class="dropdown dropdown-hover">
    <a asp-controller="Categories" asp-action="Index" class="nav-link btn btn-link text-dark" id="dropdownMenuButton">
        Categories
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var category in CategoryService.GetCategoryNames())
        {
            <a class="dropdown-item" asp-controller="Categories" asp-action="Products" asp-route-name="@category">@category</a>
        }
    </div>
</div>