@using EBuy.Services.Contracts
@inject IShoppingCartService ShoppingCartService

<div class="dropdown">
    <button class="nav-link btn btn-link text-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Shopping Cart
    </button>
    <div id="shoppingCart" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item">
            @foreach (var product in ShoppingCartService.GetShoppingCartByUsername(User.Identity.Name).Products)
            {
                <div id="shoppingCart-item" class="d-flex justify-content-between mt-1">
                    <img class="w-25" src="@product.ImageUrl" />
                    <div class="w-50">
                        <h6>@product.Name</h6>
                        <p>$@product.Price</p>
                    </div>
                </div>
            }
            <hr />
            <div class="d-flex justify-content-between">
                <h5>
                    Total:
                </h5>
                <div>
                    $@ShoppingCartService.GetShoppingCartByUsername(User.Identity.Name).Products.Sum(x => x.Price)
                </div>
            </div>
            <a class="btn btn-danger w-100 mt-2" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Buy</a>
        </div>
    </div>
</div>