<div class="dropdown">
    <button class="nav-link btn btn-link text-dark dropdown-toggle" type="button" id="shoppingCartDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Shopping Cart
    </button>
    <div id="shoppingCart" class="dropdown-menu" aria-labelledby="shoppingCartDropdownMenuButton">
        <div class="dropdown-item">
           <div id="dropdown-shopping-cart-items">
           </div>
        </div>
    </div>
</div>