@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h2 class="text-dark mt-5">Page not found.</h2>
    <h3 class="text-dark mt-5 mb-5">Looks like the page you were looking for does not exist.</h3>
    <a class="btn-link" asp-area="" asp-controller="Home" asp-action="Index">Back to website.</a>
</div>