@using Microsoft.AspNetCore.Identity
@using EBuy.Models
@inject UserManager<User> UserManager

@{ 
    var user = @UserManager.GetUserAsync(User).GetAwaiter().GetResult();
}

<nav id="sidebar" class="bg-danger">
    <div class="sidebar-header text-center bg-danger">
        <img src="@user.ImageUrl" height="120" width="120" />
        <h6 class="mt-3">@user.FirstName @user.LastName</h6>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
        </li>
        <li>
            <a href="#productsMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Products</a>
            <ul class="collapse list-unstyled" id="productsMenu">
                <li>
                    <a asp-area="Admin" asp-controller="Products" asp-action="Add">Add New Product</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Products" asp-action="Data">Display Products Data</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#categoriesMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Categories</a>
            <ul class="collapse list-unstyled" id="categoriesMenu">
                <li>
                    <a asp-area="Admin" asp-controller="Categories" asp-action="Add">Add New Category</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Categories" asp-action="Data">Display Category Data</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#usersMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Users</a>
            <ul class="collapse list-unstyled" id="usersMenu">
                <li>
                    <a asp-area="Admin" asp-controller="Users" asp-action="Index">Users List</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Users" asp-action="RolesList">Roles List</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Users" asp-action="ManageRoles">Manage Roles</a>
                </li>
            </ul>
        </li>
    </ul>

    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-info col-1 fixed-bottom">Back to website</a>
</nav>