@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmed email";
}

<div class="alert alert-success alert-dismissible mt-5" role="alert">
    <h5 class="text-center">Thank you for confirming your email. Your account is now active.</h5>
</div>