@{
    ViewData["Title"] = "Shopping Cart";
}

<div class="container w-75">
    <div id="shopping-cart-products">
    </div>
</div>

@section Scripts {
    <script src="~/js/shoppingCartDropdown.js" asp-append-version="true"></script>
    <script src="~/js/shoppingCart.js" asp-append-version="true"></script>
}