@{
    ViewData["Title"] = "Successful Order";
}

<div class="alert alert-success alert-dismissible mt-5 text-center" role="alert">
    <h5 class="text-center mt-5 mb-5">Your order has been registered. Thank you for shopping with us.</h5>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="text-dark">Back to website</a>
</div>
