@model EBuy.Web.Models.Categories.CategoriesIndexViewModel

@{
    ViewData["Title"] = "Categories";
}

<div class="d-flex flex-md-wrap">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-3 mb-3 mt-3 text-center">
            <a asp-controller="Categories" asp-action="Products" asp-route-name="@category.Name">
                <img src="@category.ImageUrl" class="w-100 h-75" />
                <br />
                <span class="mt-1 text-black-50">Products: @category.ProductsCount</span>
                <br />
                <h3 class="mt-1 text-black-50">@category.Name</h3>
            </a>
        </div>
    }
</div>