@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="text-center">Admin Panel</h1>

<div class="container">
    <h6 class="text-dark">Registered Users: 21</h6>
    <hr />
    <h6 class="text-dark">Purchases this month: 324</h6>
    <hr />
    <h6 class="text-dark">Average rating for products: 4.7</h6>
</div>
